<div class="container">

    <h1><%= Rails.application.routes.recognize_path(request.referrer)[:action]  %></h1>

		<div class="col-lg-9">
			<div class="panel panel-default checkout-panel">
  	  			<div class="panel-heading"><h4>Choose Payment Method</h4></div>
  							<div class="form-group form-shipping">        				

                    <%= form_for :order, url: order_path(@order) ,method: :patch do |shipping| %>
                    
                    <br>        					
        						<%= radio_button_tag(:quote, "single") %>
                    <%= label_tag(:quote_single, "I want all my items in a single quotation") %>
        					  <br>      					

        						<%= radio_button_tag(:quote, "multiple") %>
                    <%= label_tag(:quote_multiple, "I want my items to be quoted by their vendors") %>
                    <br>

                    
                  <br><%= submit_tag "Submit", class: "btn btn-default" %>
                  <% end %>
                </div><!--form-group form-shipping-->
              </div> <!--panel panel-default checkout-panel -->
				    </div> <!-- form-group -->
				  

		

		<div class="col-lg-3">
			<div class="panel panel-default checkout-shipping-panel">
  	  			<div class="panel-heading"><h4>Shipping / Billing Address <%= link_to "edit", cart_shipping_path, class:"small-font" %></h4></div>
			</div>	

			<div class="panel panel-default ">
            <div class="panel-heading">
              <h4>Check Out</h4>

            </div>

            <table class="table table-striped">
            <tr><td>Subtotal</td><td><%= number_to_currency(@order.subtotal, unit: "RM ") %></td></tr>
            <tr><td>Shipping</td><td><%= link_to "estimate shipping", "#shipping_address" %> </td></tr>
            <tr><td>GST</td><td><%= number_to_currency(@order.subtotal * 0.06, unit: "RM ") %></td></tr>
            <tr><td>Total</td><td><%= number_to_currency(@order.subtotal * 1.06, unit: "RM ") %></td></tr>
            </table>
            <% link_to "Buy Items / Quote Me", cart_payment_path , class:"btn btn-default center-block" %>
          </div>
      </div>  
			





</div>
