<div class="container">
	<%= form_for :order, url: order_path(@order), method: :patch do |shipping| %>
    <div class="col-lg-9">
		<div class="panel panel-default checkout-panel">
  			<div class="panel-heading"><h4>Shipping Info</h4></div>
				<div class="form-group form-shipping">        				
                    <br>
        			<%= label_tag(:user_name, "Name", class: "sr-only") %>
        			<%= text_field(:order, :user_name, class: "form-control", placeholder: "Name", :value => @user.user_name) %>
        			<br>      					
					<%= label_tag(:user_company, "Company/University", class: "sr-only") %>
					<%= text_field(:order, :user_company, class: "form-control", placeholder: "Company/University", :value => @user.user_company) %>
                    <br>
					<%= label_tag(:user_department, "Department", class: "sr-only") %>
					<%= text_field(:order, :user_department, class: "form-control", placeholder: "Department (Optional)", :value => @user.user_department) %> 
                    <br>
                    <%= label_tag(:user_address1, "Address", class: "sr-only") %>
        			<%= text_field(:order, :user_address1, class: "form-control", placeholder: "Shipping Address 1", :value => @user.user_shipping_address1) %>
                    <br>
                    <%= label_tag(:user_address1, "Address", class: "sr-only") %>
                    <%= text_field(:order, :user_address2, class: "form-control", placeholder: "Shipping Address 2", :value => @user.user_shipping_address2) %>
        			<br>
                    <%= label_tag(:user_city, "City", class: "sr-only") %>
                    <%= text_field(:order, :user_city, class: "form-control, city", placeholder: "City", :value => @user.user_shipping_city) %>
                    <%= label_tag(:user_city, "Postcode", class: "sr-only") %>
                    <%= text_field(:order, :user_postcode, class: "form-control, city", placeholder: "Postcode", :value => @user.user_shipping_zip) %>
                    <br><br>
                    <%= select_tag "order[user_state]", options_from_collection_for_select(@state, "id", "state_name", @user.user_shipping_state), prompt: "Select State", :required => true, class: "form-control" %>
                    <br>
                    <%= label_tag(:order_phone, "Mobile Phone", class: "sr-only") %>
        			<%= telephone_field(:order, :handphone, class: "form-control", placeholder: "Mobile Phone", :value => @user.user_mobile)%>
        			<br>      					
        			<%= label_tag(:order_delivery_instruction, "Delivery Instruction", class: "sr-only") %>
        			<%= text_area(:order, :special_instruction, class: "form-control", placeholder: "Delivery Instruction (optional)", :value => @order.special_instruction)%>
                    <br>
                    <h5>Currently, we only deliver to Malaysia. For other countries, kindly contact us directly at +6016-3166400</h5>
        			
		         </div> <!-- form-group -->
            </div> <!-- panel panel-default -->
	   </div><!-- col-lg-6 -->
    <div class="col-lg-3" id="total_payment_sidemenu">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h4>Check Out</h4>
            </div>
            <table class="table table-striped">
            <tr><td>Subtotal</td><td><%= number_to_currency(@order.subtotal, unit: "RM ") %></td></tr>
            <tr><td>Shipping</td><td><%= link_to "estimate shipping", "#shipping_address" %> </td></tr>
            <tr><td>GST</td><td><%= number_to_currency(@order.subtotal * 0.06, unit: "RM ") %></td></tr>
            <tr><td>Total</td><td><%= number_to_currency(@order.subtotal * 1.06, unit: "RM ") %></td></tr>
            <tr><td colspan="2"><%= button_tag "Buy Items / Quote Me", class:"btn btn-default center-block" %></td></tr>
            </table>
            
        </div>
    </div>
    <% end %>			
</div>
