<div class="container">
	<div class="col-lg-3 side-nav-bar">
    
	    <nav>
	        <h3>Categories</h3>
	        <h4><%= link_to "Beakers", products_results_path %></h4>
	        <h4><%= link_to "Bottles", products_results_path %></h4>
	        <h4><%= link_to "Chromatography", products_results_path %></h4>
	        <h4><%= link_to "Condensers", products_results_path %></h4>
	        <h4><%= link_to "Connectors", products_results_path %></h4>
	        <h4><%= link_to "Desiccators", products_results_path %></h4>
	        <h4><%= link_to "Flasks", products_results_path %></h4>
	        <h4><%= link_to "Funnels", products_results_path %></h4>
	        <h4><%= link_to "Joints", products_results_path %></h4>
	        <h4><%= link_to "Tubes", products_results_path %></h4>
	        <h4><%= link_to "Volumetric Flasks", products_results_path %></h4>
	        
	             
	    </nav>
  	</div>

</div>
