
<div class="container">
	<div class="col-lg-3 side-nav-bar">
    	
    		<nav>
    			<h4>Category</h4>

        		<% @search.facet(:category_id).rows.each do |facet| %>

        			<% if params[:category_id].blank? %>

					<%= link_to @category.find(facet.value).category_name.pluralize.titleize , controller: "products", category_id: facet.value, subcategory_id: params[:subcategory_id], search: params[:search],product_brand: params[:product_brand] %> <span class="badge"><%= facet.count %> </span> 
					<br>

					<% else %>

						<%= @category.find(facet.value).category_name.pluralize.titleize %> <%= link_to "remove" , :category_id => nil %> <br>

					<% end %>

		        <% end %>
        

        		<h4>Subcategory</h4>
    			 
        		<% @search.facet(:subcategory_id).rows.each do |facet| %>

        			<% if params[:subcategory_id].blank? %>

					<%= link_to @subcategory.find(facet.value).subcategory_name.pluralize.titleize , :subcategory_id => facet.value %> <span class="badge"><%= facet.count %> </span><br>

					<% else %>

						<%= @subcategory.find(facet.value).subcategory_name.pluralize.titleize %> <%= link_to "remove" , :subcategory_id => nil %> <br>

					<% end %>

		        <% end %>

        		
		        <h4>Brand</h4>

		       	<% @search.facet(:product_brand).rows.each do |facet| %>

					<% if params[:product_brand].blank? %>

		       			<%= link_to facet.value , controller: "products", product_brand: facet.value, search: params[:search],  category_id: params[:category_id], subcategory_id: params[:subcategory_id]  %> <span class="badge"><%= facet.count %> </span>
							 <br>
					
						<% else %>

								<%= facet.value %> <%= link_to "remove" , :product_brand => nil %> <br>

		       			<% end %>

			    	<% end %>

		        <br>
		        <h4>Availability</h4>

					Availabiligy of each variations varies <br>

		        

		        <br>
		        <h4>Distributor</h4>

		        <% @search.facet(:vendor_id).rows.each do |facet| %>

					<%= link_to facet.value , controller: "products", vendor_id: facet.value, search: params[:search], category_id: params[:category_id], subcategory_id: params[:subcategory_id], product_brand: params[:product_brand] %> <span class="badge"><%= facet.count %> </span> <br>

		        <% end %>

		        
		        <br>

		    </nav>
	</div>

	
<div class="col-lg-9">
	<h3>"<%= params[:search] %>"</h3>
	<%=  @search.total %> Results Found
	<div class="clearfix visible-lg-block"></div>

	<% @product.each do |product| %>
	<div class="col-lg-3 well results"> 
		<%= link_to (image_tag "pyrex_low_form_beaker.jpg", alt: product.product_name, class:"results-picture"), product_path(product) %>  
		<h4><%= link_to product.product_name, product_path(product) %></h4>
		
		<% if Variation.where(product_id: product.id).count > 1 %>
		<h5 class="price"><%= number_to_currency(Variation.where(product_id: product.id).minimum("variation_price"), unit: "RM ") %> 
			- <%= number_to_currency(Variation.where(product_id: product.id).maximum("variation_price"), unit: "RM ") %> </h5>

		
		<% elsif Variation.where(product_id: product.id).count == 1 %>
		<h5 class="price"><%= number_to_currency(Variation.first.variation_price, unit: "RM ") %></h5>
		<h1> ABC </h1>
		<% else %>

		<% end %>
		
		<h5>Availibility : <span class="availability"> ???? </span></h5>
		<h5>Sold by:<br><span class="sold-by"> ???? </span></h5>
	</div>
	<% end %>
	
	
</div>


<nav class="pull-right">
  <ul class="pagination col-lg-12">

	<li><%= link_to content_tag(:span, "<< Previous", 	"aria-hidden" => "true"), {page: @results.previous_page} ,{"aria-label" => "Previous"} %></li>
	
	<% for i in 1..@results.total_pages %>
		<li><%= link_to i, page: i %></li>
	<% end %> 
    <li><%= link_to content_tag(:span, "Next >>", "aria-hidden" => "true"), {page: @results.next_page} ,{"aria-label" => "Next"} %></li>
    
  </ul>
</nav>




</div><!--container-->