
<div class="container">
	<div class="col-lg-3 side-nav-bar">
    	
    		<nav>
    			<h4>Category</h4>
    			 
        		<a href="#">Glasswares</a>        
        		
		        <h4>Brand</h4>
		        <a href="#">Scilab Brand</a><br>
		        <a href="#">Pyrex</a><br>
		        <a href="#">Duran</a><br>

		        <br>
		        <h4>Availability</h4>
		        <a href="#">Ex-stock</a><br>
		        <a href="#">2-3 weeks</a><br>
		        <a href="#">3-4 weeks</a><br>
		        <a href="#">> 4 weeks</a><br>

		        <br>
		        <h4>Distributor</h4>
		        <%= link_to "ABC Sdn Bhd","#" %><br>
		        <%= link_to "Daihan Malaysia Sdn Bhd","#" %><br>
		        <%= link_to "PTE Scientific Sdn Bhd","#" %><br>
		        <%= link_to "KSFE Sdn Bhd","#" %><br>
		        <br>

		    </nav>
	</div>


<div class="col-lg-9">
	<h3>"<%= params[:search] %>"</h3>
	<%=  @product.count %> Results Found
	<div class="clearfix visible-lg-block"></div>

	<%= @product.each do |product| %>
	<div class="col-lg-3 well results"> 
		<%= link_to (image_tag "pyrex_low_form_beaker.jpg", alt: product.product_name, class:"results-picture"), "#" %>  
		<h4><%= link_to product.product_name, "#" %></h4>
		
		<% if Variation.where(product_id: product.id).count > 1 %>
		<h5 class="price">RM <%= Variation.where(product_id: product.id).minimum("variation_price") %> 
			- RM <%= Variation.where(product_id: product.id).maximum("variation_price") %> </h5>
			
		
		<% elsif Variation.where(product_id: product.id).count == 1 %>
		<h5 class="price">RM <%= Variation.first.variation_price %></h5>
		<h1> ABC </h1>
		<% else %>

		<% end %>
		
		<h5>Availibility : <span class="availability"> ???? </span></h5>
		<h5>Sold by:<br><span class="sold-by"> ???? </span></h5>
	</div>
	<% end %>
	
	
</div>



<div class="col-lg-12 paginator">
	<h2>Paginator Here</h2>
</div>






</div><!--container-->