<div class="container">

<ol class="breadcrumb">
	<%= render_breadcrumbs :tag => :li, :separator => "" %>
</ol>

<h1 id="product_name"><%= @product.product_name %></h1>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 product-details-picture">
	<%= image_tag("pyrex_low_form_beaker.jpg", alt: "Pyrex Low Form Beaker", width:"100%") %> 
</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 product-details-description">
	<h4>Description</h4>
	<%= sanitize @product.product_description, tags: %w(ul ol li h1 h2 h3 h4 h5) %>

	<h4>Sold by:</h4>		
	<h5>KSFE Sdn Bhd</h5>

	<h4>Availability:</h4>
	<h5>Ex-Stock</h5>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 product-details-price well">

<h4 id="options">Select Options</h4>
  
<%= form_for @order_item do |cart| %>

	<%= hidden_field(:order_item, :product_id, :value => params[:id]) %>

	<%= select_tag "order_item[variation_id]", options_from_collection_for_select(@variation, "id", "option_in_show"), prompt: "Please Select", :required => true %>

<br><br><br>

<h4 id="quantity">Select Quantity</h4>

	<%= select_tag "order_item[order_quantity]", options_for_select(1..20), prompt: "Enter Quantity", :required => true %>

<br><br><br>

	<%= button_tag "Add to Cart", class: "btn btn-default" %>


<!--
<span class="input-group-btn">
    <button class="btn btn-default" type="button" data-toggle="modal" data-target=".bs-example-modal-lg">
  		<span class="search-button"> Add to Cart</span>
	</button>
</span> -->




<% end %>

</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>	
    	<div class="container added-to-cart-menu">
    		<h3>Added to Cart</h3>
    		<div class="col-lg-5">
    			<div class="col-lg-4">
    				<%= image_tag("pyrex_low_form_beaker.jpg", alt: "Pyrex Low Form Beaker", width:"100%")  %>
    			</div>
    			<%   %>
    			<div class="col-lg-8">
    				<h4 id= "product_name"></h4>
    				<h5 id= "availability">Availability : <span class="availability">Ex-stock</span></h5>
    				<h5 id= "sold_by">Sold by : <span class="sold-by">KSFE Sdn Bhd</span></h5>
    				<h5 id= "product_price">RM11.00</span> x 5 units</h5>
    				<h5><span class="total_price">RM55.00 + RM3.30 (GST)</span></h5>
    			</div>
    		</div>

    		<div class="col-lg-7">
    			<h4>My Shopping Cart (5 items)</h4>
    			<h5>Subtotal : <span class="price">@order.order_subtotal</span></h5>
    			<h5>Subtotal (including 6% GST): <span class="price">RM58.30</span></h5>
    			
	    			
	    				<button class="btn btn-success" data-dismiss="modal" type="button">
	  						<span class="">Continue Shopping</span>
						</button>
						
						<%= link_to "Check Out", "#", class: "btn btn-default check-out" %>
					
    		</div>
    	</div>  <!-- container -->	
    </div> <!-- modal-content -->
  </div> <!-- modal-dialog -->
</div> <!-- modal -->


<div class="clearfix visible-lg-block"></div>

<hr>
<!--
<div class="col-lg-12 product-details-similar_item">
	<h2>Similar Products</h2>

	<div class="well col-lg-3 similar"> 
		<a href="#"><h4>Scilab-brand Standard Beaker</h4>
			<%= image_tag("scilab_beaker.gif", alt: "Scilab-brand Beaker", width:"100%") %> 
			SciLab Standard Beaker<br>
			RM6.00 - RM50.00<br>
			Availability : Ex-Stock<br>
			Sold by:<br>
			Daihan Malaysia Sdn Bhd<br>
		</a>
	</div>

	<div class="well col-lg-3 similar"> 
		<a href="#"><h4>Scilab-brand Standard Beaker</h4>
			<%= image_tag("scilab_beaker.gif", alt: "Scilab-brand Beaker", width:"100%") %> 
			SciLab Standard Beaker<br>
			RM6.00 - RM50.00<br>
			Availability : Ex-Stock<br>
			Sold by:<br>
			Daihan Malaysia Sdn Bhd<br>
		</a>
	</div>

	<div class="well col-lg-3 similar"> 
		<a href="#"><h4>Scilab-brand Standard Beaker</h4>
			<%= image_tag("scilab_beaker.gif", alt: "Scilab-brand Beaker", width:"100%") %> 
			SciLab Standard Beaker<br>
			RM6.00 - RM50.00<br>
			Availability : Ex-Stock<br>
			Sold by:<br>
			Daihan Malaysia Sdn Bhd<br>
		</a>
	</div>


</div>

-->


</div> <!-- container -->