<nav class="navbar navbar-default header">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-lg-11">
     <%= image_tag("support.png", alt: "24/7 Phone Support", height: "50px", class: "support") %>   
     <i class="fa fa-facebook-square"></i>
    </div>
    <div class="clearfix visible-lg-block"></div>
    <div class="navbar-header col-lg-3">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <%= link_to image_tag("Logo.png", :alt => 'anyThing Scientific Logo', :width => '100%'), root_path, :class => 'navbar-brand' %>)


    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
    <div class="row">
    <%= form_tag products_path, :method => :get do %>
  	<div class="col-lg-7 search-bar">
    	<div class="input-group">
      		<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for ...." %>
          <span class="input-group-btn">
        		<%= button_tag "Search", class: "btn btn-default", :name => nil %>
      		</span> 
          
    	</div><!-- /input-group -->
  	</div><!-- /.col-lg-7 -->
    <% end %>
    
    <div class="col-lg-1">
      <a href="#"><span class="glyphicon glyphicon-shopping-cart cart" aria-hidden="true"></span></a> 
    </div>
	
	</div><!-- /.row -->

  <div class="user-bar col-lg-12"> 
    <span class="user-control"><%= link_to "Contact Us", contact_index_path %></span>
    
    <% if user_signed_in? %>
      <span class="user-control"><%= link_to "Log Out", destroy_user_session_path %></span>
    <% else %> 
      <span class="user-control"><%= link_to "Sign In / Sign Up", new_user_session_path %></span> 
    <% end %> 
    
    
  </div> 
  
  
  

      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>