<nav class="navbar navbar-default header">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- <div class="navbar-header col-lg-11 col-md-11 col-sm-11 col-xs-11 hidden-xs hidden-sm hidden-md pull-left">
     <%= image_tag("support.png", alt: "24/7 Phone Support", height: "50px", class: "support") %>   
     <i class="fa fa-facebook-square"></i>
    </div> -->
    <div class="clearfix visible-lg-block visible-md-block visible-sm-block visible-xs-block"></div>
    <div class="navbar-header col-xs-12">
      <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#navigation_menu" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to image_tag("Logo.png", :alt => 'anyThing Scientific Logo', :width => '100%'), root_path, :class => 'navbar-brand img-responsive text-center visible-xs' %>)

      <div class="visible-xs small-device-search-bar pull-right">
        <%= link_to cart_index_path do %>
          <i class="glyphicon glyphicon-shopping-cart cart"></i>
        <% end %>
      </div>
      
    </div>

    <%= link_to image_tag("Logo.png", :alt => 'anyThing Scientific Logo', :width => '100%'), root_path, :class => 'navbar-brand img-responsive hidden-xs pull-left' %>)
    
    <div class="clearfix visible-xs-block"></div>      
    <div class="row">
    <%= form_tag products_path, :method => :get do %>
  	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 search-bar">
    	<div class="input-group">
      		<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for ...." %>
          <span class="input-group-btn">
        		<%= button_tag "Search", class: "btn btn-default", :name => nil %>
      		</span>           
    	</div><!-- /input-group -->
  	</div><!-- /.col-lg-7 -->
    <% end %>
    


    <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
      <%= link_to cart_index_path do %>
        <i class="glyphicon glyphicon-shopping-cart cart"></i>
      <% end %>
    </div>
	</div><!-- /.row -->

  <!-- Collect the nav links, forms, and other content for toggling -->
  

  <div class="user-bar col-lg-12 col-md-12 col-sm-12 col-xs-12"> 

  <div class="collapse navbar-collapse" id="navigation_menu">    
    <ul class = "nav navbar-nav navbar-right">    
    <% if user_signed_in? %>
      <li class="toggle-bar"><%= link_to "My Account", users_path %></li>
      <li class="toggle-bar"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
    <% else %> 
      <li class="toggle-bar"><%= link_to "Sign In / Sign Up", new_user_session_path %></li>
    <% end %>  
      <li class="toggle-bar"><%= link_to "Contact Us", contact_index_path %></li>   
    </ul>   
  </div> 
  
       
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>